<%= link_to '〈', message_path(@message), :class => 'link-back' %>

<div class="form-container">
  <%= form_for(@message) do |f| %>
    <%= f.label "Edit your Message:", :for => 'message' %>
    <br>
    <%= f.text_area :content, :id => 'message', :autofocus => 'true' %> 
    <br>
    <%= f.submit "Submit", :class => 'button' %> 
  <% end %>
</div>